/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    --hue-color: 210;
    --grey-color: hsl(var(--hue-color), 4%, 95%);
    --grey-color-alt: hsl(var(--hue-color), 4%, 90%);
    --dark-grey-color: hsl(var(--hue-color), 4%, 80%);
    --title-color: hsl(var(--hue-color), 4%, 6%);
    --text-color: hsl(var(--hue-color), 4%, 25%);
    --text-color-light: hsl(var(--hue-color), 4%, 35%);
    --light-grey-color: #a8a7a5;
    --body-color: #FFF;
    --container-color: hsl(var(--hue-color), 4%, 90%);
    --text-gradient: linear-gradient(hsl(var(--hue-color), 4%, 86%), hsl(var(--hue-color), 4%, 94%));
    --scroll-thumb-color: hsl(var(--hue-color), 4%, 84%);
    --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 80%);
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 5rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.5rem;
    --medium-font-size: 1.8rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --text-line-height: 2rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margins & Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    /* ========= Opacity ========== */
    --full-opacity: 100%;
    --overlap-opacity: 15%;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 7.5rem;
        --bigger-font-size: 4.5rem;
        --big-font-size: 4rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 4rem 0 2rem;
}

.section__title {
    font-size: var(--bigger-font-size);
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.section__title-gradient {
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/*=============== LAYOUT ===============*/
.main {
    overflow: hidden;
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}


/*=============== HEADER ===============*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: transparent;
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    width: 1.5rem;
}

.nav__toggle {
    font-size: 1.2rem;
    color: var(--light-grey-color);
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--body-color);
        top: -100%;
        left: 0;
        width: 100%;
        padding: 4rem 0 3rem;
        transition: .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.nav__link {
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: .4s;
}

.nav__link:hover {
    background: var(--light-grey-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.nav__close {
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    color: var(--light-grey-color);
    cursor: pointer;
}

/* show menu */
.show-menu {
    top: 0;
}

/* Change background header */
.scroll-header {
    background-color: var(--body-color);
}

/* Active link */
.active-link {
    background: var(--light-grey-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/*=============== HOME ===============*/
.home__img {
    min-width: 300px;
    right: 1.5rem;
}

.home__data {
    padding-top: 5rem;
}

.home__header {
    position: relative;
}

.home__title {
    position: absolute;
    top: -4rem;
    left: 1rem;
    line-height: 6rem;
    font-size: var(--biggest-font-size);
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.home__subtitle {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2-5);
}

.home__title-description {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.home__description {
    margin-bottom: var(--mb-2-5);
    line-height: var(--text-line-height);
}

.home__price {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-left: var(--mb-0-75);
}

/*=============== BUTTONS ===============*/
.button {
    display: inline-block;
    background-color: var(--grey-color);
    color: var(--light-grey-color);
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--grey-color-alt);
}

.button__icon {
    font-size: 1.2rem;
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
}

/*=============== SPONSOR ===============*/
.sponsor__img {
    width: 90px;
}

.sponsor__container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    row-gap: 5rem;
    justify-items: center;
    align-items: center;
}

/*=============== FEATURES ===============*/
.features__container {
    position: relative;
}

.features__content {
    row-gap: 1.5rem;
}

.features__data {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.features__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}


.features__img {
    width: 100px;
    position: absolute;
    top: 1rem;
    right: -2rem;
    opacity: var(--overlap-opacity);
}

/*=============== TEAM ===============*/
.team__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem;
}

.team__polaroid {
    max-width: 800px;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.7rem;
    overflow: hidden;
}

.team__data {
    padding: 0 2rem;
    text-align: center;
}


.team__polaroid::after {
    content: 'Spiccìzì \'23';
    display: block;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

.team__polaroid_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ddd; /* Optional: Add a border around the image */
    border-radius: 5px;
}

/*=============== SURVEY ===============*/
.survey__container {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: .75rem;
}

.survey__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
}

.survey__description {
    margin-bottom: var(--mb-1);
}

.survey__img {
    width: 300px;
    position: absolute;
    top: 4rem;
    right: -8rem;
    opacity: var(--overlap-opacity);
}

/*=============== EMAIL COLLECTION ===============*/
.cta_button__container {
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0
}


.email__container {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: .75rem;
    grid-template-rows:  repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.email__description {
    text-align: center;
}

.email__title {
    margin-bottom: var(--mb-0-75);
}

.email__form {
    width: 100%;
}

.email__data {
    display: flex;
    width: 100%;
    gap: .5rem;
    padding: .5rem .75rem;
    border-radius: .5rem;
}

.email__input {
    width: 100%;
    padding-left: .2rem;
    padding-right: .2rem;
    background-color: var(--container-color);
    color: var(--text-color);
    border-bottom: .1rem solid var(--dark-grey-color);
}

.email__input::placeholder {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}


/*=============== FOOTER ===============*/
.footer__container {
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.footer__logo {
    width: 2rem;
}

.footer__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.footer__link {
    color: var(--text-color);
}

.footer__link:hover {
    color: var(--light-grey-color);
}


.footer__input {
    background-color: var(--container-color);
    width: 90%;
    color: var(--light-grey-color);
}

.footer__input::placeholder {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

.footer__social {
    display: flex;
    column-gap: 1.25rem;
}

.footer__social-link {
    display: inline-flex;
    color: var(--light-grey-color);
    background-color: var(--container-color);
    padding: .5rem;
    border-radius: .25rem;
    font-size: 1rem;
}

.footer__social-link:hover {
    background-color: var(--grey-color);
}

.footer__copy {
    margin-top: 5rem;
    text-align: center;
}

.footer__copy-link {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.footer__call_to_action {
    text-align: right;
}

/*=============== THANK YOU ================*/
.thanks__container {
    margin: 4rem 0 4rem 0;
}

.thanks__title {
    position: absolute;
    top: -4rem;
    line-height: 6rem;
    font-size: var(--biggest-font-size);
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.thanks__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*gap: 2rem;*/
}

.thanks__subtitle {
    font-size: var(--medium-font-size);
    z-index: var(--z-fixed);
}

.thanks__footer {
    display: flex;
    justify-content: end;
    padding: 0 2rem;
}


/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    background-color: var(--container-color);
    border-radius: .25rem;
    padding: .45rem;
    opacity: 9;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover {
    background-color: var(--grey-color);
    opacity: 1;
}

.scrollup__icon {
    color: var(--light-grey-color);
    font-size: 1.35rem;
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 5rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .60rem;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-color-alt);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 400px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .section__title {
        font-size: var(--big-font-size);
    }

    .home__img {
        top: -13rem;
    }

    .home__title {
        top: -4rem;
        font-size: var(--bigger-font-size);
    }

    .home__data {
        padding-top: 1rem;
    }

    .home__description {
        font-size: var(--small-font-size);
    }

    .team__polaroid {
        width: 300px;
    }


    .footer__call_to_action {
        text-align: center;
    }

    .thanks__footer {
        padding: 0 .5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .home__container {
        grid-template-columns: .8fr 1fr;
        gap: 2rem;
    }

    .home__data {
        padding-top: 2rem;
    }

    .home__img {
        top: -7rem;
        left: 0;
    }

    .features__data {
        grid-template-columns: 1fr 3fr;
    }

    .features__img {
        position: initial;
        opacity: var(--full-opacity);

    }

    .features__container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }


    .email__data {
        width: 60%;
    }


    .survey__img {
        position: initial;
    }

    .survey__container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    .footer__container {
        justify-content: start;
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__logo {
        width: 2rem;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3.5rem;
    }

    .nav__link {
        font-size: var(--normal-font-size);
        text-transform: initial;
    }

    .nav__toggle, .nav__close {
        display: none;
    }

    .home__container {
        position: relative;
        grid-template-columns: repeat(2, 1fr);
    }

    .home__img {
        top: -9rem;
        left: 4rem;
    }

    .home__data {
        padding-top: 8rem;
    }


    .email__title {
        font-size: var(--h2-font-size);
    }


    .survey__container {
        grid-template-columns: 300px max-content;
        justify-content: center;
        column-gap: 2.5rem;
        padding: 3rem 0;
    }

    .survey__title {
        font-size: var(--h2-font-size);
        margin-bottom: var(--mb-1);
    }

    .survey__description {
        margin-bottom: var(--mb-2);
    }

    .survey__img {
        opacity: var(--full-opacity);
    }


    .thanks__subtitle {
        font-size: var(--big-font-size);
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .home__img {
        top: -15rem;
    }

    .home__title {
        top: -5rem;
        left: 3.5rem;
    }

    .home__description {
        padding-right: 5rem;
    }

    .sponsor__img {
        width: 100px;
    }

    .footer__container {
        padding-top: 3rem;
    }

    .footer__copy {
        margin-top: 9rem;
    }
}
